
# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Build outputs
/dist
/build
/uploads

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
logs/
